<!DOCTYPE html>
<html lang="en" ng-app="GDGLegon">

<head>
  <meta charset="UTF-8">
  <title>GDG Legon Demo</title>

  <!-- Load styles in the head, before page load, so the page renders properly -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body ng-controller="AppController">
  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">GDG Legon Demo</a>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container">
    <center>
      <!-- <div class="margin-top">
        <h1>GDG-Legon Starter Template</h1>
        <p class="lead">
          Wait? Where's the heading???
        </p>
      </div> -->

      <div class="bigger-margin">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input type="text" class="form-control" ng-model="userHandle" placeholder="What's your twitter handle?" aria-describedby="basic-addon1">
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">#</span>
              <input type="text" class="form-control" ng-model="userColour" placeholder="What's your favorite color?" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-success btn-block" ng-click="submit(userHandle, userColour)">Upload to NSA...</button>
          </div>
        </div>
        <div class="panel panel-default" ng-show="colourGenerated">
          <div class="panel-body">
            <p class="lead">
              Hi there {{userHandle}} !!!!!. I hear your favorite color is <span style="color:#fff;" ng-style="{'background-color' : userColour}">{{userColour | uppercase}}</span>?
            </p>
            <p class="lead" ng-show="different">
              Well that sucks, mine is <span style="color:#fff;" ng-style="{'background-color' : generatedColor.hex}">{{generatedColor.name | uppercase}}</span>, waaaay better than {{userColour | uppercase}}.
            </p>
            <p class="lead" ng-show="!different">
              Me too! <span style="color:#fff;" ng-style="{'background-color' : userColour}">{{generatedColor.name | uppercase}}</span> is an awesome colour.
            </p>
          </div>
        </div>
      </div>
    </center>
  </div>

  <!-- Load Scripts at the bottom of page for performance benefits -->
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</body>

</html>
